DATABASE_URL="postgresql://user:password@host:5432/dbname"
JWT_SECRET="generate-with-crypto-randomBytes-32-hex"
JWT_REFRESH_SECRET="generate-with-crypto-randomBytes-32-hex"
QR_SECRET="generate-with-crypto-randomBytes-32-hex"
PORT=3000
NODE_ENV=development
